/*
color theme:
Sand Tan: #E1B382
Sand Tan Shadow: #C89666
Night Blue: #2D545E
Night Blue Shadow: #12343B
*/


body {
    margin-top: 38px;
    background-color: #E1B382;
    height: 100vh;
    background-image: url('./images/mics-pattern.jpg');
  }

  
  .wrapper {
      background-color: #2D545E;
      border-radius: 10px;
      color: #E1B382;
      width: 100vw;
      height: 100vh;
  }

      .nav {
        position: fixed;
        top:0;
        left:0;
        width: 100vw  ;
        display: flex;
        background-color: #C89666;
        justify-content: space-evenly;
        font-size: 15px;
        padding: 5px;
        border-radius: 10px;
      }

      .wrapper .nav .link{
        flex-basis: auto;
        align-self: center;
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
      }

      .activeLink {
        color: rgb(150, 250, 208);
      }

      .activeLink:hover {
        color:#12343B;
      }

      .hellouser{
        color:#12343B;
      }

      .wrapper .nav .link:hover{
        color:#12343B;
      }

      .home {
        background-image: url('./images/lone_mic_large.jpg');
        background-size: 100% 100%;
        height: calc(100vh);
        position: relative;
      }

      .home span {
        left: 10%;
        top: 40%;
        font-size: 2rem;
        position: absolute;
      }

      .home .login{
        left:20%;
        position: absolute;
        top: 30%;
      }

      .home .login{
        left:20%;
        position: absolute;
        top: 30%;
        font-size: 2rem;
        color:#12343B;
      }

      .home .login:hover{
        color:#C89666;
      }

      .home .signup{
        left:20%;
        position: absolute;
        top: 70%;
        font-size: 2rem;
        color:#12343B;
        transition: all 0.25s;
        transition-timing-function: ease-in;
      }

      .home .signup:hover{
        color:#C89666;
      }

      .wrapper .loadPage {
        background-image: url('./images/lone_mic_large.jpg');
        background-size: 100% 100%;
        height: 86vh;
        position: relative;
      }

      .wrapper .loadPage form .name{
        position: absolute;
        left:10%;
        top:40%;
        width: 200px
      }

      .wrapper .loadPage form .email{
        position: absolute;
        left:15%;
        top:45%;
        width: 200px
      }

      .wrapper .loadPage form .password{
        position: absolute;
        left:20%;
        top:50%;
        width: 200px
      }

      .wrapper .loadPage form .submit{
        position: absolute;
        left:25%;
        top:55%;
        width: 200px
      }

      .mainroom {
        display: flex;
        flex-direction: row;
        height: 83.6vh;
        justify-content: space-between;
        align-items: stretch;
      }

      .mainroom .results{
        width: 150px;
        background-color: #C89666;
        border-radius: 10px;
        overflow-y: auto;
      }

      .mainroom .filler{
        width: 2%;
      }

      .text {
        width: 94.5%;
      }

      .submit{
        width: 100%;
      }

      .display{
        width: 100%;
      }

      .mainroom .mvp{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #C89666;
      }

      .mainroom .mvp .player {
          background-color: white;
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 56.25%;
      }

      .mainroom .mvp .player .main-video{
        position: absolute;
        top: 0;
        left: 0;
        width: 99.5%;
        height: 98%;
      }

      .mainroom .mvp .utility .addVideo{
        width: 100%;
        background-color: #C89666;
      }

      .mainroom .mvp .utility .addVideo:hover{
        color: rgb(150, 250, 208);
      }

      .mainroom .mvp .lyrics{
        width: 100%;
        background-color: #C89666;
        height: 49vh;
        overflow-y: auto;
        color:black;
      }

      .mainroom .mvp .lyrics p:hover{
        color: rgb(150, 250, 208);
      }

      .mainroom .favoritesTile {
        width: 150px;
        background-color: #C89666;
        border-radius: 10px;
        overflow-y: auto;
      }

      .favpic {
        position: relative;
        width: 150px;
      }

      .favpic .delete {
        position: absolute;
        z-index: 100;
        top:2%;
        right:8%;
        color:white;
        background-color: white;
        border-radius: 100%;
        line-height: 10px;
        cursor: pointer;
      }